


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    background-color: #f4f4f4;
}


img {
    width: 320px;
    height: auto;
     
    display: block;
}


header {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
}

/* con este div se corrigen las diferencias de tamaños de las imagenes*/
.divimg {
    width: 320px; 
    height: 190px;
    overflow: hidden;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px 0;
    font-size: 0.9rem;
}

/* flexbox */

section {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}


article {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 15px;
    max-width: 300px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}


article h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}


article p {
    font-size: 0.9rem;
    color: #555;
    text-align: justify; 
}

/* Media Query */

/* Pantallas chicas */
@media (max-width: 599px) {
    section {
        flex-direction: column; 
        align-items: center; 
    }

    article {
        max-width: 100%;
    }
}

/* Pantallas medianas */
@media (min-width: 600px) and (max-width: 899px) {
    section {
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-around; 
    }

    article {
        max-width: 45%; 
    }
}

/* Pantallas grandes */
@media (min-width: 900px) {
    section {
        justify-content: space-between; 
    }

    article {
        max-width: 30%; 
    }
}